.lead__subtitle {
  margin: 0 auto 64px auto;
  max-width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  text-align: center;
  align-self: center;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 0 auto 40px auto;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
